.circle{
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    overflow: hidden;
}

.finishForm{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.interest-group{
    
        height: 33%;
        display: flex;
        flex-direction: column;
        

    
}